

node_modules
azure.err
*.publishsettings
npm-debug.log
.idea/*
public/js/bundle.js
todo.txt
public/lib
public/js/dest
public/css/dest
public/Index.html
/tests/dist/
*.map
*~
public/css/card-selection.css
public/css/main.css
Thumbs.db
