.cardlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width:640px;
    margin: 0 auto;
}

@media (max-width: 767px){
    .cardlist-container {
        max-width: 500px;
    }
}

@media (max-width: 390px){
    .cardlist-container {
        max-width: 330px;
    }
}