$card-outer-margin: 0.6;
$card-width = 8;
.cardPlaceHolder {
  margin:1em * $card-outer-margin;
}

.emptyCard{
  height:12em;
  width:1em * $card-width;
}

.task-details game-card{
  width: $card-width + 2 * $card-outer-margin;
  display:block;
  margin:0 auto;
}

.cardNumber {
  font-size: 3em;
}

.cardPlayerName{
  width:8em;
}
.hasCard .innerCard {
  line-height:10.5em;
}

$card-size-multiplyer: 1.5;
$card-width = 4 * $card-size-multiplyer;
@media (max-width: 767px){

  .emptyCard {
    height:6em * $card-size-multiplyer;
    width:1em * $card-width;
  }

  .task-details game-card {
    width: $card-width + 2 * $card-outer-margin;
  }

  .cardNumber {
    font-size: 1.5em * $card-size-multiplyer;
  }

  .cardPlayerName{
    width:4em * $card-size-multiplyer;
  }
  .hasCard .innerCard {
    line-height: 4.75em * $card-size-multiplyer;
  }
}

$card-size-multiplyer: 1.3;
$card-width = 4 * $card-size-multiplyer;
@media (max-width: 767px){

  .emptyCard {
    height:6em * $card-size-multiplyer;
    width:1em * $card-width;
  }

  .task-details game-card{
    width: $card-width + 2 * $card-outer-margin;
  }

  .cardNumber {
    font-size: 1.5em * $card-size-multiplyer;
  }

  .cardPlayerName{
    width:4em * $card-size-multiplyer;
  }
  .hasCard .innerCard {
    line-height: 4.75em * $card-size-multiplyer;
  }
}