.color-nowhere{
    background-color:#003C5A;
    background-color:#00386A;
    background-color: #000B19;
    background-color:#032533;
    background-color:#032533;
    background-color: #001C39;
    background-color:#00386A;
    background-color:#001C3D;
    background-color:#00588A;
    background-color:#85a5f5;
    background-color:#4078BA;
    background-color:#00386A;
    background-color:#00202C;
    background-color:#003C5A;
}


/*126CA1 1A9FED

613D23 613D23 06273B 0B4161 06606B 066152 543409*/
body{
    background-color:#093854;
}

input[type=text]{
    color:black;
/*background-color:#427DA1;*/
}

input[type=button]{
    background-color:#2D566E;
}