title Scrumbles
link(rel='shortcut icon', type='image/ico', href='images/icon.png')
meta(name='viewport', content='user-scalable=0, initial-scale = 1.0, maximum-scale = 1.0')
meta(http-equiv='Content-Security-Policy', content="font-src 'self' https://fonts.gstatic.com")
meta(http-equiv='Content-Security-Policy', content="connect-src 'self' ws://localhost:3001 wss://scrumbles.azurewebsites.net")
meta(http-equiv='Content-Security-Policy', content="script-src 'self' 'unsafe-eval'")
meta(http-equiv='Content-Security-Policy', content="style-src 'self' 'unsafe-inline' https://fonts.googleapis.com")
link(href='/css/bootstrap.min.css', rel='stylesheet')
link(href='/css/dest/main.min.css', rel='stylesheet')
link(href='/css/dest/card-selection.min.css', rel='stylesheet')
link(href='/css/dest/test.min.css', rel='stylesheet')
link(href='/css/alertify.core.css', rel='stylesheet')
link(href='/css/alertify.default.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Rokkitt', rel='stylesheet', type='text/css')