doctype html
html
   head
      include ./Head.jade
   body
      h1(data-bind='visible: room.isStatusInit') Scrumbles
      p(style='text-align:center;font-family: sans-serif', data-bind='visible: room.isStatusInit') Online scrumb poker
      include ./Start.jade
      include ./Room.jade
      include ./Modal.jade
      script(src='/lib/alertify.min.js')
      script(src='/lib/underscore.js')
      script(src='/lib/knockout.js')
      script(src='/lib/knockout.validation.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/js/bundle.js')
