doctype html
html
   head
      include Head
   body
      include Start
      include Room
      include Modal
      include components/Card
      include Solo
      script(src='/lib/alertify.js/lib/alertify.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/js/dest/main.min.js')
      script(src = '/js/dest/main.min.js.map')
