doctype html
html
   head
      include Head
   body
      h1(data-bind='visible: room.isStatusInit') Scrumbles
      p(style='text-align:center;font-family: sans-serif', data-bind='visible: room.isStatusInit') Online scrumb poker
      include Start
      include Room
      include Modal
      script(src='/lib/alertify.js/lib/alertify.min.js')
      script(src='/lib/underscore/underscore-min.js')
      script(src='/lib/knockout/dist/knockout.js')
      script(src='/lib/knockout-validation/dist/knockout.validation.min.js')
      script(src='/socket.io/socket.io.js')
      script(src='/js/dest/main.min.js')
      script(src = '/js/dest/main.min.js.map')
