include CardSelection
.container(data-bind='visible: room.isInMultiplayerGame', style='display:none')
   .row(data-bind='visible: !isSelectingCard()')
      .col-md-7.itemTitle
         h2(data-bind='text: room.name')
   hr(data-bind='visible: !isSelectingCard()')
   div.row(data-bind='visible: isSelectingCard')
      .col-xs-12
        - var clickEvent = '$parent.playerSelectsCard';
        +cardSelection(clickEvent)
   div(data-bind='visible: !isSelectingCard()')
      .row.task-details(data-bind='visible: showGameTitle')
         .col-ks-12.itemTitle
            | Estimating Item:&nbsp;
            span(data-bind='text: room.itemName')
         game-card.large(params='showCard: selectedCard, card: selectedCard, label: me.playerName',data-bind='click:openCardSelection')
      .row(data-bind='visible: room.isStatusWaiting')
         .col-md-4.col-md-offset-3.col-gut-4
            span.itemTitle(data-bind='visible: !room.isOwner()') Waiting for next game to start...
            input(type='text', placeholder='Enter task name...', data-bind="value: room.itemName, visible: room.isOwner, event:{ 'keyup':initiateItemEstimate }", maxlength='50')
         .col-md-2.col-gut-4
            input.fullWidth(type='button', value='Start', data-bind='click: initiateItemEstimate, visible: room.isOwner')
      hr(data-bind='visible: !room.isStatusWaiting() && !isSelectingCard()')
      div.row.card-table(data-bind='visible: !room.isStatusWaiting() && !isSelectingCard()')
         .col-md-12
            h3
               | Players Cards
            #cardTable.cardlist-container(data-bind='foreach: room.players, css: statusClass')
                  game-card(params='showCard: $parent.room.isStatusReview, card: card, label: playerName')
      div.row
         .col-md-offset-3.col-md-6
            input#showCards.fullWidth(type='button', value='Show Cards', data-bind="click: initiateReview, style: { visibility: room.isOwner() && anyCardsDown() && room.isStatusInGame() ? 'visible' : 'hidden'}, visible: room.isStatusInGame")
            input.fullWidth(type='button', value='Done', data-bind='hasFocus: room.isStatusReview, click: initiateEndReview, visible: room.isOwner() && room.isStatusReview()')